@media (max-width: 1104px) {
    .fixed-container {
        width: 704px;
    }
    .banner-section::before { 
        background-image: url("../img/First banner middle.png");
    }
    .title-h1 {
        font-size: 40px;
    }
    .advantages-list {
        width: 100%;
    }
    .limitations-list {
        width: 100%;
        margin-top: 25px;
    }
    .lookingMore__list-item {
        max-width: 50%;
        margin-right: 0;
    }
    .rules-section {
        padding: 48px;
    }
    .regView-section {
        padding: 48px 0;
    }
    .registration-title {
        width: 100%;
        margin-bottom: 24px;
    }
    .locations-section {
        padding: 48px 0;
    }
    .form-section {
        padding: 48px 0;
    }
    .form-title {
        width: 100%;
    }
    .callback-form {
        width: 100%;
    }
    .new-buildings {
        width: 60%;
    }
    .popular {
        width: 40%;
    }
    .address {
        width: 60%;
    }
    .copuright-list {
        width: 40%;
    }
    .new-buildings__list {
        margin-bottom: 24px;
    }
    .popular__list {
        margin-bottom: 24px;
    }
    .object-item__time-go::before {
        left: 35%;
    }
    .lookingMore__list-item:nth-child(-n+2) {
        margin-bottom: 24px;
    }
    .object-item__img-descriprion {
        padding: 0 90px 16px 16px;
    }
    .modal-list {
        left: calc(25% + 5px);
    }
    .map-section {
        width: 704px;
        padding-bottom: 48px;
    }
    .map-button {
        left: calc(30% - 5px);
    }
}

@media (max-width: 767px) {
    .js-mobilMenu {
        background-image: url("../img/icons/mobil-burger.svg");
        display: block;
        width: 22px;
        height: 15px;
        border: none;
        background-color: inherit;
    }
    .header {
        padding: 17.5px 26.5px;
    }
    .fixed-container {
        width: 280px;
    }
    .navigation {
        margin-top: 0;
    }
    .banner-section::before { 
        background-image: url("../img/First banner mobil.png");
        top: 50px;
    }
    .title-h1 {
        font-size: 24px;
    }
    .logo-icon {
        width: 27.5px;
        height: 13px;
    }
    .text-block {
        padding: 96px 0 109px;
    }
    .rules-section {
        padding: 31px 0;
    }
    .navigation__nav-list {
        display: none;
    }
    .lookingMore__list-item {
        max-width: 261px;
        margin-right: 0;
    }
    .buttons-container {
        display: flex;
        overflow: scroll;
        height: 45px;
    }
    .advantages-list {
        font-size: 14px;
    }
    .limitations-list {
        font-size: 14px;
    }
    .advantages::before {
        left: -40px;
        top: -8px;
    }
    .limitations::before {
        left: -40px;
        top: -8px;
    }
    .regView-section {
        padding: 32px 0;
    }
    .locations-section {
        padding: 32px 0;
    }
    .lookingMore-section {
        padding: 32px 0;
    }
    .form-section {
        padding: 32px 0;
    }
    .registration-title {
        font-size: 20px;
    }
    .registration-callback {
        width: 100%;
    }
    .locations-title {
        font-size: 20px;
    }
    .locations-list {
        margin-left: 0px;
        margin-top: 8px;
    }
    .object-item__time-go::before {
        left: 44%;
    }
    .callback-form__small-line {
        width: 100%;
    }
    .inputs-button {
        width: 100%;
    }
    .object-item__img-descriprion {
        padding: 0 16px 16px 16px;
    }
    .new-buildings {
        width: 100%;
    }
    .popular {
        width: 100%;
    }
    .address {
        width: 100%;
    }
    .copuright-list {
        width: 100%;
    }
    .navigation__nav-list {
        background-color: #4A439D;
        width: 100%;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 50px;
        padding: 32px 24px;
    }
    .navigation__list-item {
        display: block;
        margin-top: 16px;
    }
    .navigation__list-item:first-child {
        margin-top: 0;
    }
    .burger-active {
        background-image: url("../img/icons/burger-active.svg");
        width: 32px;
        height: 32px;
    }
    .js-burger {
        padding: 8px 26.5px;
    }
    .js-logo-size {
        width: 32px;
        height: 32px;
    }
    .map-section {
        width: 320px;
        padding-bottom: 32px;
    }
    .modal-list {
        width: 100%;
        left: 0;
        padding-top: 10px;
    }
    .map-button {
        font-size: 0;
        left: calc(40% - 5px);
    }
    .map-button::before {
        top: 3px;
    }
}
