.banner-section {
    background-color: #5F62AC;
    font-family: "Roboto";
    color: #ffffff;
    margin-top: -81px;
}

.banner-section::before {
    content: "";
    background-image: url("../img/First banner large.png");
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;
    width: 100%;
    height: 530px;
}

.text-block {
    position: relative;
    padding: 220px 0 248px;
}

.title-h1 {
    font-weight: 300;
    font-size: 56px;
    margin: 0;
}

.title-description {
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
}

.rules-section {
    padding: 56px 0;
}

.button-active {
    background-color: #fff;
}

.rulles-button {
    padding: 14px 24px;
    border: 1px solid #C4C4C4;
    border-radius: 28px;
    cursor: pointer;
    margin-right: 16px;
}
.rulles-button:last-child {
    margin-right: 0;
}
.rulles-button:hover {
    border: 1px solid #F0C630;
}

.advantages-list {
    list-style: none;
    font-size: 24px;
    margin-top: 33px;
    margin-bottom: 0;
    width: 40%;
}
.limitations {
    color: rgba(0,0,0, 0.5);
}
.limitations-list {
    list-style: none;
    font-size: 24px;
    margin-top: 33px;
    margin-bottom: 0;
    width: 50%;
}
.limitations-list:first-child {
    margin-top: 0;
}
.listIteam {
    position: relative;
    margin-top: 24px;
}
.listIteam:first-child {
    margin-top: 0;
}
.advantages::before {
    content:"";
    background-image: url("../img/icons/pluse.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    left: -1.5em;
}
.limitations::before {
    content:"";
    background-image: url("../img/icons/minuse.svg");
    width: 32px;
    height: 32px;
    position: absolute;
    left: -1.5em;
}
.regView-section {
    padding: 56px 0;
    background-color: #5F62AC;
    color: #ffffff;
}
.registration-title {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    width: 50%;
}
.registration-callback {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 14px 36px;
    color: #fff;
    font-size: 20px;
    background-color: inherit;
    max-height: 56px;
}
.registration-callback:hover {
    border: 1px solid #F0C630;
}

.locations-section {
    padding: 56px 0 24px;
}
.locations-title {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}
.locations-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
}
.locations-metroline {
    display: flex;
    flex-wrap: wrap;
}
.locations-list {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    position: relative;
    margin-left: 32px;
    margin-top: 0;
    margin-bottom: 0;
}
.locations-list:first-child {
    margin-left: 0;
}

.locations-list::before {
    content:"";
    background-image: url("../img/icons/blue-metroline.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0;
}
.metro-station {
    border-bottom: 1px dashed #5F62AC;
    color: #5F62AC;
    cursor: pointer;
}
.metro-station:hover {
    border-bottom: none;
}
.travel-time {
    opacity: 0.5;
}
.map-section {
    padding-bottom: 56px;
    width: 1104px;
    margin: 0 auto;
    display: table;
}

.lookingMore-section {
    padding-bottom: 56px;
}
.lookingMore-title {
    margin-top: 0;
    font-size: 32px;
    font-weight: 300;
}
.lookingMore__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.lookingMore__list-item {
    display: inline-block;
    max-width: 261px;
}
.lookingMore__list-item:nth-child(4n) {
    margin-right: 0;
}
.object-item__link-title {
    text-decoration: none;
}
.object-item__link-title:hover {
    color: #5F62AC;
}
.object-item__complex-name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 16px;
}
.object-item__address {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.object-item__location {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    margin: 0;
}
.object-item__metroline {
    padding-left: 15px;
}
.object-item__metroline::before {
    content:"";
    background-image: url("../img/icons/orange-metroline.svg");
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 4px;
}
.object-item__time-go {
    padding-left: 15px;
    margin-left: 7px;
}
.object-item__time-go::before {
    content:"";
    background-image: url("../img/icons/time-go.svg");
    background-repeat: no-repeat;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 45%;
    top: 2px;
}
.object-item__img-container {
    margin: 0;
    position: relative;
}
.object-item__img-descriprion {
    position: absolute;
    padding: 0 16px 16px 16px;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
.object-item__price {
    font-weight: 700;
}

.form-section {
    padding: 56px 0;
    background-color: #5F62AC;
}
.form-title {
    font-size: 32px;
    font-weight: 300;
    width: 50%;
    color: #fff;
    margin: 0;
}
.callback-form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.callback-form__big-line {
    width: 100%;
}
.callback-form__small-line {
    width: 48%;
}
.select-val {
    color: #000;
}
.checkbox {
    font-size: 16px;
    color: #fff;
    margin-top: 24px;
}
.callback-form__remember {
    margin: 0;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    float: left;
}
.callback-form__remember:checked {
    background-color: initial;
}
.inputs {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F0C630;
    padding: 16px 16px 16px 0;
    color: #FFFFFF;
    margin-top: 10px;
}
.inputs::placeholder {
    color: #fff;
}
.inputs-button {
    border-radius: 4px;
    padding: 14px 36px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    margin-top: 24px;
}
.ya-map {
    position: relative;
}
.map-button {
    position: absolute;
    left: calc(40% - 5px);
    bottom: 16px;
    border-radius: 24px;
    padding: 8px 24px 8px 58px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.map-button::before {
    content: "";
    background-image: url("../img/icons/arrov-top.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 30px;
}
.js-modal-map {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
}
.modal-list {
    position: absolute;
    width: 375px;
    height: 100%;
    left: calc(35% + 5px);
    top: 0;
    background-color: #5F62AC;
    padding-top: 48px;
    padding-left: 34px;
    padding-right: 48px;
    margin: 0;
    font-size: 16px;
    color: #fff;
}
.modal-list-item {
    list-style: none;
    margin-top: 16px;
}
.modal-list-item:first-child {
    margin-top: 0;
}
.modal-checkbox {
    margin-right: 12px;
}


/* icons */

.icon {
    width: 32px;
    height: 32px;
    position: absolute;
}
.first-icon {
    left: 8px;
    top: 8px;
}
.second-icon {
    left: 28px;
    top: 8px;
}
